<a href="https://colab.research.google.com/github/Karthikeya-S/ds_ml_training/blob/main/zomato.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math
import datetime
%matplotlib inline

dataset = pd.read_csv('/download.csv')

In [ ]:
dataset.head()

,ZOMATO Historical Data,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Equitypandit Financial Services Pvt. Ltd.,NaN,NaN,NaN,NaN,NaN,NaN
1,Date,Price,Open,High,Low,Volume,Change(%)
2,22 Aug 2022,62,61,62.85,59.25,226773007,0.90%
3,19 Aug 2022,61.45,67.4,68.25,60.15,295737752,-8.42%
4,18 Aug 2022,67.1,65.6,69.25,65,303566868,2.84%

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ZOMATO Historical Data  270 non-null    object
 1   Unnamed: 1              269 non-null    object
 2   Unnamed: 2              269 non-null    object
 3   Unnamed: 3              269 non-null    object
 4   Unnamed: 4              269 non-null    object
 5   Unnamed: 5              269 non-null    object
 6   Unnamed: 6              269 non-null    object
dtypes: object(7)
memory usage: 14.9+ KB

In [ ]:
dataset['Unnamed: 1'].astype(int)
plt.figure(figsize=(11, 8)) # resizing the plot
dataset['Unnamed: 1'].plot()

ValueError: ignored